# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [13]:
import pandas as pd
import numpy as np

In [14]:
location = "datasets_travel_times.csv"
travel_df = pd.read_csv(location)

In [15]:
travel_df.head()
#df.head?

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [24]:

expense_df = pd.read_excel("datasets_income_expenses.xlsx")

In [25]:
expense_df.head()
#df.head?

  Income Range                    Category  Amount Class_level
0     $100-200                        Rent   26.43        Poor
1     $100-200                        Food   59.81        Poor
2     $100-200                     Clothes   38.95        Poor
3     $100-200                       Taxes    0.14        Poor
4     $100-200  Other Expenses and Savings   13.77        Poor

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [18]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]

In [19]:
df_during = pd.read_csv(location, names=['Name', 'Grade'])
df_during.head()

                                                                                                                       Name  \
Date     StartTime DayOfWeek GoingTo Distance MaxSpeed AvgSpeed AvgMovingSpeed FuelEconomy TotalTime MovingTime  Take407All
1/6/2012 16:37     Friday    Home    51.29    127.4    78.3     84.8           NaN         39.3      36.3                No
         08:20     Friday    GSK     51.63    130.3    81.8     88.9           NaN         37.9      34.9                No
1/4/2012 16:17     Wednesday Home    51.27    127.4    82.0     85.8           NaN         37.5      35.9                No
         07:53     Wednesday GSK     49.17    132.3    74.2     82.9           NaN         39.8      35.6                No

                                                                                                                    Grade
Date     StartTime DayOfWeek GoingTo Distance MaxSpeed AvgSpeed AvgMovingSpeed FuelEconomy TotalTime MovingTime  Comments
1/6/2012 16:37     Friday    Home    51.29    127.4    78.3     84.8           NaN         39.3      36.3             NaN
         08:20     Friday    GSK     51.63    130.3    81.8     88.9           NaN         37.9      34.9             NaN
1/4/2012 16:17     Wednesday Home    51.27    127.4    82.0     85.8           NaN         37.5      35.9             NaN
         07:53     Wednesday GSK     49.17    132.3    74.2     82.9           NaN         39.8      35.6             NaN

In [20]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]
GradeList = list(zip(names, grades))

In [21]:
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [22]:
travel_df.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [26]:
expense_df.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [27]:
df['Amount'].groupby(df['Income Range']).mean()

KeyError: 'Amount'

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.