# Module 4 Exercises - Data Visualization

### Exercise 1:

From the datasets folder, load the "dvddata.xlsx" file as a dataframe. Then rename the following columns (new column name is in parentheses):
- \# of Clients (Clients)
- Visits to each Client per Month (Visits)
- Calls to each Client per month (Calls)
- Emails to each Client per month (Emails)
- \# of businesses in district (Business)

In [4]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_excel("datasets/dvddata.xlsx", encoding = "ISO-8859-1") #1st column needs encoding to read pound/hashtag(#) symbol
df.head()

,Salesperson,District,Region,Sales,# of Clients,Visits to each Client per Month,Calls to each Client per month,Emails to each Client per month,# of businesses in district
0,Addie Miller,52,A,393,16,2,4,30,500
1,Addie Miller,67,A,267,11,2,1,14,627
2,Addie Miller,104,A,148,4,1,1,17,778
3,Alexandra Jones,49,A,317,17,0,7,1,530
4,Alonzo Tennant,46,A,276,16,2,2,22,770

In [ ]:
df.rename(columns={'#': 'Number'}, inplace =True)
df.rename(columns={'#': 'Number'}, inplace =True)
df.rename(columns={'#': 'Number'}, inplace =True)
df.rename(columns={'#': 'Number'}, inplace =True)
df.rename(columns={'#': 'Number'}, inplace =True)

### Exercise 2:

Using the dataframe from the previous exercise, use the Seaborn library to create a scatterplot of the number of clients compared to the sales.

### Exercise 3:

Using the dataframe in the previous exercise, use the Seaborn library to make a boxplot of the Clients, Visits, Calls, and Emails columns. (**Hint**: Make a dataframe that only contains those columns)

### Exercise 4:

Using the dataframe from Exercise 3, use the Seaborn library to make a violin plot of sales per region.

### Exercise 5:

Using the dataframe in the previous exercise, create a swarm plot of sales per region.

### Exercise 6:

Using the dataframe in the previous exercise, make a correlation heatmap.

### Exercise 7:

Using the dataframe in the previous exercise, make a bar chart (count plot) of the regions.

### Bonus  

Feel free to explore any other data visualizations using the Seaborn library.